@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Nanum+Pen+Script&display=swap");

body {
  font-family: "Nanum Pen Script", cursive;
  font-family: "Fuggles", cursive;
  background-color: antiquewhite;
  /* height: 10px; */
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 1px;
}

.box div {
  background-color: lightcyan;
  width: 100px;
  height: 100px;

  font-size: 70px;
  font-weight: 600;
}
/* 상자 센터로 보내자.... */
