@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Nanum+Pen+Script&display=swap");

body {
  font-family: "Nanum Pen Script", cursive;
  font-family: "Fuggles", cursive;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  margin: 100px;
  font-size: 70px;
  font-weight: 600;
}
