@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Fuggles&family=Nanum+Pen+Script&display=swap");

body {
  font-family: "Nanum Pen Script", cursive;
  font-family: "Fuggles", cursive;
  background-color: antiquewhite;
  /* height: 10px; */
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  padding-bottom: 150px;
  font-size: 70px;
  font-weight: 600;

  color: whitesmoke;
  text-shadow: -1px 0 royalblue, 0 1px royalblue, 1px 0 royalblue,
    0 -1px royalblue;
}

.textBorderRed {
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
